{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
	  "ecmaVersion": 2020,
	  "sourceType": "module",
	  "tsconfigRootDir": "__dirname",
	  "project": ["./*/tsconfig.json"]
	},
	"plugins": ["import", "simple-import-sort"],
	"extends": ["prettier"],

	"rules": {
	  // import rules
	  "simple-import-sort/imports": "error",
	  "simple-import-sort/exports": "error",
	  "import/order": "off",
	  "import/first": "error",
	  "import/no-mutable-exports": "error",
	  "import/no-unresolved": "off",
	  "import/no-absolute-path": "off",
	  "import/named": "off",

	  // basics
	  "curly": ["error", "multi-or-nest", "consistent"],
	  "yoda": ["error"],
	  "quote-props": ["error", "consistent-as-needed"],
	  "space-before-blocks": ["error", "always"],
	  "eqeqeq": [
		"error",
		"always",
		{
		  "null": "ignore"
		}
	  ],
	  "object-shorthand": [
		"error",
		"always",
		{
		  "ignoreConstructors": false,
		  "avoidQuotes": true
		}
	  ],
	  "spaced-comment": [
		"error",
		"always",
		{
		  "line": {
			"markers": ["/"],
			"exceptions": ["/", "#"]
		  },
		  "block": {
			"markers": ["!"],
			"exceptions": ["*"],
			"balanced": true
		  }
		}
	  ]
	}
  }
